# Telegram / Bot
pyrogram
tgcrypto
pyromod
python-telegram-bot==20.7

# Async / Network
requests
aiohttp
aiofiles
async-lru
cloudscraper

# YouTube / Media
youtube_dl
yt-dlp
pytube
ffmpeg-python
m3u8
mutagen

# Parsing
beautifulsoup4
soupsieve

# Utils
python-dotenv
pytz
speedtest-cli

# Web Server
Flask>=3.0.0
gunicorn
