pytube
python-telegram-bot==20.7
ffmpeg-python
pyrogram
tgcrypto
pyromod

requests
aiohttp
aiofiles
async-lru

yt-dlp
mutagen
m3u8
cloudscraper
beautifulsoup4
soupsieve

python-dotenv
pytz
speedtest-cli

Flask>=2.2.5
gunicorn
